body {
    margin : 0;
    padding: 0;
    background-color: teal;
}
p {
    max-width: 40vw;
    margin-top: 25vh;
    font-size: x-large;

}
.monolog{
    display: flex;
    justify-content: center;
    animation:wejscieHeadera 3s 0.1s;
}
button {
    border: white solid .25vh;
    width : 25vw;
    height : 8vh;
    background: transparent;
    color : white;
    font-size: larger;
    animation:wejscieHeadera 5s 0.1s;
    margin-left:30vw;
    transition: 1s;
  }
  button:hover {
    background:white;
    color: teal;
}
@keyframes wejscieHeadera {
    0% {
        transform: translateY(50%);
        opacity: 0;
        background: transparent;    
    }
    50% {
        transform: translateY(50%);
        opacity: 0;  
        background: transparent;     
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}