body {
    margin : 0;
    padding: 0;
    background-color: teal;
}
p {
    max-width: 40vw;
    margin-top: 25vh;
    font-size: x-large;

}
.monolog{
    display: flex;
    justify-content: center;
    animation:wejscieHeadera 3s 0.1s;
}
button {
    border: none;
    width : 25vw;
    height : 8vh;
    background: orange;
    color : #2c3e50;
    font-size: larger;
    animation:wejscieHeadera 5s 0.1s;
    margin-left: 30vw;
    border-bottom: orangered solid 0.5vh;
    transition: 1s;
  }
  button:hover {
    background:rgb(255, 123, 0);
}
@keyframes wejscieHeadera {
    0% {
        transform: translateY(50%);
        opacity: 0;
        background: transparent;    
    }
    50% {
        transform: translateY(50%);
        opacity: 0;  
        background: transparent;     
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}