body {
    margin : 0;
    padding : 0;
    background-color: #333;
}
.oknoDSC {
    display: flex;
    justify-content: center;
    background-size: cover;
    width : 100vw;
    height : 98vh;
    background-image: url('../assets/dsc2.png');
    position: relative;
}
.handler {
    display : grid;
    grid-template-columns: repeat(1);
    grid-gap:1.5vh;
    width : 50vw;
    height: 30vh;
}
@media screen and (min-height: 850px){
    .handler{
        height: 23vh;
    }
    .o3 {
        margin : 0;
    }
    .o2 {
        margin : 0;
        padding: 0;
        height : 7vh;
    }
}
.pozycjoner {
    display : block;
    left : 27%;
    top : 10%;
    width : 5px;
    height: 5px;
    position: absolute;
}
#d1{
    position: relative;
    
}
#d2{
    position: relative;
}
#l1{
    position: absolute;
    font-size: larger;
    display : block;
    top : 25%;
    left : 10%;
    margin-top: 1vh;
}
#l2{
    position: absolute;
    font-size: larger;
    display : block;
    top : 25%;
    left : 10%;
}
label {
    color: white;
}
.avatar {
    width: 3vw;
    height: 3vw;
    background-image: url('../assets/maciek.png');
    display: block;
    position: absolute;
    top : 17%;
    background-size: cover;

}
.avatar2 {
    width: 3vw;
    height: 3vw;
    background-image: url('../assets/piotrus.png');
    display: block;
    position: absolute;
    top : 17%;
    background-size: cover;

}
.o1,.o2,.o3,.o4 {
    opacity: 0;
    transition: 2s;
    
}
.o1{
    height: 4vh;
}
.o3 {
    height : 5vh;
}
.o2 ,.o4{
    height : 10vh;
}
.appear {
    opacity: 1;
}
button {
    margin-top : 25vh;
    border: white solid .25vh;
    width : 15vw;
    height : 6vh;
    background: transparent;
    color : white;
    font-size: larger;
    animation:wejscieHeadera 5s 0.1s;
    transition: 1s;
  }
  button:hover {
    background:white;
    color: teal;
}
.return {
    position: absolute;
    display : block;
    left : 8%;
    top: -22%;
}
*{
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');
@media screen and (min-height:1080px){
    .o3 {
        margin-top : 1vh;
        height : 4vh;
    }
    .o1 {
        height : 3vh;
    }
    .o2 {
        margin-top : 0.5vh;
    }
    .o2,.o4 {
        height : 11vh;
    }
    .handler {
        grid-gap : 1.5vh;
    }
    #l1 {
        margin-top : 0vh;
    }
}
@media screen and (min-height : 850px){
    .o3 {
        margin : 0;
    }
}
